page-home {
ion-content{
background-image: url(https://img.freepik.com/free-vector/torch-icon-isolated_1284-4612.jpg?size=338&ext=jpg);
background-size:cover;
display: block;
}
.button{
    color:red;
    background-color: aqua;
    text-align: center;

}
.toolbar-background{
    text-align: center;
    color:red;
    background-color:aqua;

}
}

